
.community_creator{
    width: 100%;
    height: 40px;
    background-color: #1877f2;
    color: white;
    font-size: 14px;
    padding-left: 30px;
    font-weight: 500;
    padding-top: 7px;
    font-family: "bentoreg";
}
@font-face {
    font-family: "bento";
    src: url('../fonts/bentomed.otf');
}
@font-face {
    font-family: "bentoreg";
    src: url('../fonts/bentonreg.otf');
}