.home_profile_image{
    border-radius: 100%;
    color: #636175;
    height: 40px;
    width: 40px;
}

#navbarSupportedContent>ul>li.active>a>.home_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/home_active.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
.home_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/iconfinder_home.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}

#navbarSupportedContent>ul>li.active>a>.notification_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/bell_active.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
.notification_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/iconfinder_bell.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
#navbarSupportedContent>ul>li.active>a>.community_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/community_icon_active.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
.community_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/community_icon.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
#navbarSupportedContent>ul>li.active>a>.discussion_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/discussion_active.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
.discussion_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/discussion.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}

#navbarSupportedContent>ul>li.active>a>.dm_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/dm_active.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
#navbarSupportedContent>ul>li.active>a>.main_profile_name{
    color: #2f4b6e;
    font-size: 15px;
    font-family: 'bentoreg'
}
.dm_icon{
    height: 24px;
    width: 24px;
    content: url(".././images/svg/dm.svg");
    outline: none!important;
    border-color: transparent!important;
    padding-bottom: 5px;
}
.main_profile_name{
    color: white;
    font-size: 15px;
    margin-left: 5px;
    font-family: 'bentoreg'
}

.chat_name{
    color: white!important;
    font-family: 'bentoreg';
    size: 16px!important;
}


.about_root {
    display: block;
    background: white;
    margin-left: 30px;
    width: 330px;
    padding-bottom: 30px;
}
.group_name_root {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    padding-top: 15px;
    padding-left: 20px;
    color: white;
}
.group_name {
    margin-left: 20px;
    font-size: 17px;
}
.group_description {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: #505050;
    word-spacing: 1px;
    line-height: 25px;
    font-family: "bentoreg";
}
.group_metas {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    color: black;
}
.post_rate {
    margin-left: 40px;
    color: black;
}
.creation_date {
    margin-left: 20px;
    margin-top: 20px;
    color: black;
}

.topics{

}
.popular_topics_root{
    display: block;
    background: white;
    margin-left: 30px;
    width: 330px;
    padding-bottom: 30px;
}
.topic_posts {
    margin-top: 1px;
    margin-left: 15px;
}
.popular_topics {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    padding-top: 15px;
    padding-left: 20px;
    color: white;
}
.topic_name {
    color: black;
    margin-left: 15px;
    font-weight: bold;
}
.community_rule {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 15px;
    color: #505050;
    word-spacing: 1px;
    line-height: 25px;
    font-family: "bentoreg";
}
.rules_root{
    display: block;
    background: white;
    margin-left: 30px;
    width: 330px;
    padding-bottom: 30px;
}

.rules {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
    background-color: #fa2d65;
    padding-top: 15px;
    padding-left: 20px;
    color: white;
}

@font-face {
    font-family: "bento";
    src: url('../fonts/bentomed.otf');
}
@font-face {
    font-family: "bentoreg";
    src: url('../fonts/bentonreg.otf');
}


.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 60px;
        width: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 60px;
        width: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 60px;
        width: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        width: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}
.navbar_ext{
    background-color: white;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    padding-right: 120px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.header_profile_image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.notification_badge{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #fa2d65;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 13px;
    left: 32px;
    font-size: 10px;
    color: white;
    font-family: 'bentothin';
    font-weight: bold;
}
.nav-link{
    position: relative;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.dropdown {
    list-style-type: none;
    padding-left: 0px;
}


