#upvote_li{

    margin-right: 2px;

}
#downvote_li{

    margin-left: 2px;

}
#reactions_count{


}
#comments_count_li{

}

.post_reaction_area_img{
    height: 12px;
    width: 12px;
}
.post_comment_area_img{
    height: 14px;
    width: 14px;
}

.post_share_area_img{
    height: 14px;
    width: 14px;
}
.post_save_area_img{
    height: 12px;
    width: 12px;
}

#comments_li{

    margin-left: 15px;
}
#share_li{

    margin-left: 15px;
}
#share_count_li{

}
#save_li{

    margin-left: 15px;
}
#save_count_li{

}











#youtube_upvote_li{

    margin-right: 2px;

}
#youtube_downvote_li{

    margin-left: 2px;

}
#youtube_reactions_count{


}
#youtube_comments_count_li{

}

.youtube_post_reaction_area_img{
    height: 12px;
    width: 12px;
}
#youtube_post_comment_area_img{
    height: 14px;
    width: 14px;
}

#youtube_post_share_area_img{
    height: 14px;
    width: 14px;
}
#youtube_post_save_area_img{
    height: 12px;
    width: 12px;
}

#youtube_comments_li{

    margin-left: 15px;
}
#youtube_share_li{

    margin-left: 15px;
}
#youtube_share_count_li{

}
#youtube_save_li{

    margin-left: 15px;
}
#youtube_save_count_li{

}









#sponsored_upvote_li{

    margin-right: 2px;

}
#sponsored_downvote_li{

    margin-left: 2px;

}
#sponsored_reactions_count{


}
#sponsored_comments_count_li{

}

.sponsored_post_reaction_area_img{
    height: 12px;
    width: 12px;
}
#sponsored_post_comment_area_img{
    height: 14px;
    width: 14px;
}

#sponsored_post_share_area_img{
    height: 14px;
    width: 14px;
}
#sponsored_post_save_area_img{
    height: 12px;
    width: 12px;
}

#sponsored_comments_li{

    margin-left: 15px;
}
#sponsored_share_li{

    margin-left: 15px;
}
#sponsored_share_count_li{

}
#sponsored_save_li{

    margin-left: 15px;
}
#sponsored_save_count_li{

}




#linkpost_upvote_li{

    margin-right: 2px;

}
#linkpost_downvote_li{

    margin-left: 2px;

}
#linkpost_reactions_count{


}
#linkpost_comments_count_li{

}

.linkpost_post_reaction_area_img{
    height: 12px;
    width: 12px;
}
#linkpost_post_comment_area_img{
    height: 14px;
    width: 14px;
}

#linkpost_post_share_area_img{
    height: 14px;
    width: 14px;
}
#linkpost_post_save_area_img{
    height: 12px;
    width: 12px;
}

#linkpost_comments_li{

    margin-left: 15px;
}
#linkpost_share_li{

    margin-left: 15px;
}
#linkpost_share_count_li{

}
#linkpost_save_li{

    margin-left: 15px;
}
#linkpost_save_count_li{

}









.post_header_meta{
    margin-left:-7px;
    font-size: 11px;
    display: grid;
}
#posted_by_link{
    color: #262626;
    font-size: 13px;
    font-family: 'bento';
}
#posted_to_link{
    color: #363636;
    font-weight: bold;
}
@font-face {
    font-family: "bento";
    src: url('../fonts/bentomed.otf');
}
@font-face {
    font-family: "bentoreg";
    src: url('../fonts/bentonreg.otf');
}

@font-face {
    font-family: "bentothin";
    src: url('../fonts/bentolight.otf');
}

.post_title{
     font-family: "bento";
     font-size: 15px;
     margin-top: -10px;
     line-height: 20px!important;
     display:inline-block;
     color: #222222;
     word-spacing: 1px;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}
.post_text{
    font-size: 15px;
    display:inline-block;
    color: #262626;
    margin-top: -5px;
    word-spacing: 1px;
    font-family: 'bentothin';
    font-weight: bold;
}
.full_post_text{
    font-family: "bentothin";
    font-size: 15px;
    display:inline-block;
    color: #505050;
    font-weight: bold;
    margin-top: -5px;
    word-spacing: 1px;
}
#read-more{

    font-family: "bento";
    font-weight: 300;
    font-size: 12px;
    color: #1264a3!important;
    margin-top: -10px;
    line-height: 23px!important;
}

#youtube_see-more{
    font-family: "bento";
    font-weight: 300;
    font-size: 12px;
    color: #1264a3!important;
    margin-top: -10px;
    line-height: 23px!important;
}
#home-comment > p{
    font-family: "bento"!important;
}

.channel_img_url {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    margin-left: 10px;
}
.trending_channel_metas_root {
    display: flex;
    height: 50px;
}
.trending_channel_root {
    border-radius: 4px;
    overflow: visible;
    word-wrap: break-word;
}

.trending_channel {
    padding: 12px 0 0;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    float: left;
    color: #979797;
}

.trending_channel_see_all {
    padding: 12px 0 0;
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    float:right;
    color: #262626;
}

.channel_metas {
    width: 100%;
    margin-left: 25px;
    display: block;
    padding-top: 5px;
}
.channel_link {
    font-size: 13px;
    line-height: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.channel_members {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
}
.channel_image_metas {
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

a:link,
a:visited {
    color: #132a39;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    text-decoration: underline;
}

.channel_follow {
    width: 50px;
    border: none;
    color: #0079d3;
    margin-top: 7px;
    display: flex;
}
.channel_members {
    font-size: 13px;
    font-family: 'bentoreg';
    color: #c3c2c2;
}
.svg_arrowup {
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-top: 10px;
}
.top_channel_name {
    color: #181818 !important;
    font-size: 13px;
    font-family: 'bentoreg';

}
.create_your_channel {
    width: 100%;
    height: 30px;
    background-color: #0079d3;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 10px;
    display: flex;
    position: relative;
}
.create_channel_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;
}
.create_channel {
    color: white;
    size: 16px;
}
.add_arrow {
    margin-right: 5px;
    height: 16px;
    width: 16px;
}
.users_count {
    color: #6d6d6d;
    font-size: 12px;
    font-family: 'bentothin';
    font-weight: bold;
}








.trending_topic_metas_root {
    display: flex;
    height: 30px;
    margin-left: 15px;
}
.trending_topic_root {
    background-color: white;
    fill: grey;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    overflow: visible;
    padding: 10px;
    word-wrap: break-word;
}

.trending_topic {
    padding: 12px 0 0;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    float: left;
    color: #979797;
}
.trending_topics_seeall{
    padding: 12px 0 0;
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    float:right;
    color: #262626;
}


.topic_metas {
    width: 100%;
    margin-left: 5px;
    margin-left: 15px;
    display: block;
    padding-top: 15px;
}
.topic_link {
    font-size: 13px;
    line-height: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    margin-top: 10px;
    margin-bottom: -10px;
}

a:link,
a:visited {
    color: #132a39;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    text-decoration: underline;
}

.topic_members {
    color: grey;
}
.svg_arrowup {
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-top: 10px;
}
.top_trending_topic_name {
    font-size: 12px;
    color: #132a39!important;
    font-family: "bentoreg";
}

.trending_topic_header {
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.fire_img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 4px;
}
.trending_topic_position {
    display: flex;
    justify-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #bfbdbd !important;
}

.widget_ext{
    border: none!important;
    background-color: rgba(0,0,0,0) !important;
    background-color: transparent!important;
    background: transparent!important;
    margin-bottom: 0px!important;
}

.compose_card {
    background-color: #fff;
    display: block;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    width: 106%;
    height: 110px;
    margin-left: -20px;
    margin-right: -40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border: 1px solid #d4d1d1;
}

.compose_profile_image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.compose_textarea {
    width: 90%;
    height: 35px;
    border-radius: 18px;
    background: rgb(248, 248, 248);
    color: #262626;
    border: none;
    padding: 10px;
    margin-left: 10px;
}

.img_textarea_div {
    display: flex;
}
.line {
    width: 100%;
    height: 1px;
    background: rgb(224, 224, 224);
    margin-top: 10px;
}
.compose_action_div {
    width: 95%;
    height: 30px;
    margin-top: 10px;
    display: flex;
}

.share_it_live {
    width: 33%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 12px;
    font-family: 'bentothin';
    font-weight: bold;
}

.share_image_video {
    width: 34%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 12px;
    font-family: 'bentothin';
    font-weight: bold;
}
.share_feeling_activity {
    width: 34%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 12px;
    font-family: 'bentothin';
    font-weight: bold;
}

.compose_action_img {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.comment_on_post_root {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 35px;
    padding-top: 10px;
}

.comment_on_post_profile_image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.comment_on_post_text_area {
    width: 88%;
    height: 15px;
    color: #262626;
    border: none;
    margin-top: 7px;
    background: none;
    margin-left: 5px;
}

.comment_on_post_send {
    width: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 13px;
    margin-top: 2px;
    font-family: 'bentothin';
    font-weight: bold;
    color: #7ac0f1;
}

.post_actions_root {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 50px;
}

.post_action_div {
    width: auto;
    height: 100%;
    display: flex;
    padding-left: 20px;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
    font-family: 'bentothin';
    font-weight: bold;
    font-size: 13px;
    color: #262626;
}

.share_image_video {
    width: 34%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
}

.share_feeling_activity {
    width: 34%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
}

.post_action_img {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.post_comment_img {
    height: 23px;
    width: 23px;
    margin-right: 3px;
}

.post_bookmark_img {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.actions_float_left {
    display: flex;
    float: left;
    width: 70%;
    margin-left: -20px;
    justify-content: flex-start;
}
.action_float_right {
    display: flex;
    float: right;
    width: 40%;
    text-align: right;
    display: flex;
    text-align: -webkit-right;
    justify-content: flex-end;
}

.jquery-comments .textarea-wrapper .textarea {
    margin: 0;
    outline: 0;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: text;
    border-radius: 8px;
    border: 1px solid #CCC;
    background: transparent!important;
    font-size: 1em;
    color: #505050!important;
    font-family: "bentoreg";
    line-height: 1.45em;
    padding: .25em .8em;
    padding-right: 2em;
}
.jquery-comments .textarea-wrapper .control-row > .attachments {
    padding-top: .3em;
    display: none!important;
}

.jquery-comments .textarea-wrapper .control-row > span.upload {
    position: relative;
    overflow: hidden;
    background-color: #999;
    display: none;
}
.jquery-comments ul.navigation li[data-sort-key="attachments"] {
    float: right;
    display: none!important;
}

.jquery-comments ul.main li.comment .comment-header .new {
    background: #2793e6;
    font-size: 0.8em;
    padding: 0.2em 0.6em;
    color: #fff;
    font-weight: normal;
    border-radius: 1em;
    vertical-align: bottom;
    word-break: normal;
    display: none!important;
    font-size: 13px!important;
}
.comments-container{
    height: 100vh!important;
    overflow-x: auto!important;
}

.fa-thumbs-up {
    content:url("./images/svg/post_like.svg");
    height: 16px!important;
    width: 16px!important;
}

.jquery-comments ul.main li.comment .comment-header .name {
    color: #505050;
    font-family: "bento";
    font-weight: normal!important;
    font-size: 13px!important;
}

.jquery-comments ul.main li.comment .wrapper .content {
    white-space: pre-line;
    word-break: break-word;
    color: #505050;
    font-family: 'bentothin';
    font-weight: bold;
}


.jquery-comments .textarea-wrapper:after {
    content: " ";
    position: absolute;
    border: 7px solid #FFF;
    left: 7px;
    top: 1px;
    width: 10px;
    display: none!important;
    height: 10px;
    box-sizing: border-box;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
}
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top:10px;
    margin-bottom: 10px;
    border-top: 1px solid lightgrey;
}
.tab {
    cursor: pointer;
    padding: 10px;
    color:lightgrey;
    display:flex;
    justify-content:center;
    width:auto;

}

.tab.active {
    border-top: 1px solid black;
    color:black;

}


.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

.profile_tab_icon{
    height:16px;
    width:16px;
    margin-right:5px;
}

.profile_media_icon{
    height:20px;
    width:20px;
    margin-right:5px;
}

.profile_saved_icon{
    height:24px;
    width:24px;
    margin-right:5px;
}


.profile_tab_text{
    font-size:16px;
}
.profile_about_text{
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'bentothin';
    margin-bottom: 10px;

}

.user_profile_root {
    background-color: #fff;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    width: 400px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ede9e9;
}

.profile_image_div {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_meta_div {
    width: 80%;
    height: 100%;
    display: block;
    margin-top: 6px;
}

.user_profile_image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}
.profile_name {
    margin-top: 10px;
    color: black;
    font-family: 'bentoreg';
    font-weight: bold;
}
.profile_actions_div {
    display: flex;
    height: 30px;
    margin-top: 7px;
}
.users_followers {
    border: 1px lightgrey solid;
    border-radius: 4px;
    width: 100px;
    height: 23px;
    padding: 3px;
    font-size: 12px;
    justify-content: center;
    display: flex;
    color: #262626;
    align-items: center;
}
.follow_user {
    border-radius: 4px;
    width: 100px;
    height: 23px;
    padding: 3px;
    font-size: 14px;
    background-color: blue;
    margin-left: 10px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

.user_community_root {
    background-color: #fff;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    width: 400px;
    margin-top: 10px;
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ede9e9;
}

.community_image_div {
    width: 20%;
    height: 100%;
    display: flex;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
}

.community_meta_div {
    width: 80%;
    height: 100%;
    display: block;
}

.user_community_image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}
.community_name {
    margin-top: 10px;
    height: auto;
    color: #262626;
}
.community_actions_div {
    display: flex;
    height: 30px;
    margin-top: 7px;
}
.community_followers {
    border-radius: 4px;
    width: auto;
    height: 23px;
    padding: 3px;
    font-size: 14px;
    margin-top: -5px;
    color: #262626;
    justify-content: center;
    display: flex;
    align-items: center;
}

.follow_community {
    border-radius: 4px;
    width: 100px;
    height: 23px;
    padding: 3px;
    margin-top: 15px;
    font-size: 14px;
    background-color: blue;
    margin-left: 10px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}







